@tailwind base;
@tailwind components;
@tailwind utilities;

.educate-card {
    @apply bg-gray-800  text-white duration-700 
    hover:shadow-2xl 
    hover:bg-green-600
    hover:text-white
    rounded-2xl; 
    letter-spacing: 1.25px;
}

.social-icon {
    
    @apply duration-700 text-white hover:text-green-400
}

